
body {
    font-family: "Roboto Light", sans-serif;
}

.hero-section {
    position: relative;
    background-image: url("../img/yoda.jpeg");
    background-repeat: no-repeat;
    background-color: #ff9191;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    margin-left: -5rem;
}

h2 {
    font-family: "Roboto Light", sans-serif;
}

.fraseverde {
    color: green;
    font-size: 2rem;
}


.logo {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
}

.logo1 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
}

 .linea {
     font-size: 2px;
     color: white;
 }

 .subtitulo {
     font-weight: 700;
     color: #373A3C;
 }


.carousel-indicators {
    position: relative;
}

.foto {
    width: auto;
}

.carousel-indicators li {
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}

.receta {
    text-decoration: underline;
}

.lista {
    list-style: none;
}

.recetas-relacionadas {
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}


.espacio {
    border-right: 1em;
    border-left: 1em;
    border-color: #373A3C;
}

.Newsletter {
padding: 15%;
    align-content: center;
    background-color: #DC3545;
}

.centrado {
align-items: center;
    margin-right: auto;

}

.container header {
    color: #660066;
}

.interlineado {
    line-height : 40px;
}

.carousel-indicators {
    top: 50px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.icono {
    fill: #ffffff;
    color: #ffffff;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
}